<h1>About Mark</h1>

<div class="row">
  <div class="col-md-4">
    <h4>Surfing</h4>
    <p>Ocean waves</p>
    <img max-width="100%" height="auto" src="/images/1.jpg" class="img-fluid rounded" alt="">
  </div>
  <div class="col-md-4">
    <h4>Beach</h4>
    <p>Sunny afternoons</p>
    <img max-width="100%" height="auto" src="/images/2.jpg" class="img-fluid rounded" alt="">
  </div>
  <div class="col-md-4">
    <h4>Laptop</h4>
    <p>Time to work</p>
    <img max-width="100%" height="auto" src="/images/3.jpg" class="img-fluid rounded" alt="">
  </div>
</div>
