<h1>Homepage</h1>
<p>Welcome to my homepage.</p>

<a href="https://stackoverflow.com/">Stack Overflow</a>
<p>Ask for help with coding questions</p>

<a href="http://www.railscasts.com/">Railscast</a>
<p>Short Ruby on Rails tutorials</p>
